@charset "utf-8";
@import "../node_modules/bulma/bulma.sass", "../node_modules/leaflet/dist/leaflet";


#app > div{
    padding: 10px;
    margin: 15px;
}

input,
button {
  width: 100%;
}

.is-complete{
  color: red;
  text-decoration: line-through;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  margin: 0 auto;
}

body {
	margin: 0;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1; /* TODO Solve this in HTML */
}

/* crispy pixels */

canvas {  
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
