b/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

chrome.dat
chrome.json
chart-chrome.json
/db/*
/db/
/CHANGELOG.md
/domains.txt
/exec-wget.sh
/resources/sqlite-urls2get.txt
/src/clojure_scratchpad/fun_with_transducers.clj
/to_grep.txt
/urls_purely_functional_guide.txt
*.dat
/resources/logic/
/src/clojure_scratchpad/transducer.clj
/src/greek2clojure/
qop
/src/purely_functional/clojure_collections/
/src/logic-tutorial/
/src/hateoas_example.clj
/target/
/haiku.sh
s
/cmudict-syllable-list.txt
/resources/AFINN/
/resources/imm6010.zip
/resources/syllables.csv
/try.png
